<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                Recipe Book
            {% endblock title %}
        </title>
        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        <h1>
            <a href="/ledger/list">Recipe Book</a>
        </h1>
        {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <form action="{% url 'login' %}" method="get">
                <button type="submit">Login</button>
            </form>
        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>