<!-- template/recipe_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Book</title>
</head>
<body>
    <h1><a href = '/ledger/list/'>Recipe Book</a></h1>
    <h2>{{ recipe.name }}</h2>
    <h3>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>name: {{ ingredient.ingredient.name }}, quantity: {{ ingredient.quantity }}</li>
            {% endfor %}
        </ul>
    </h3>
</body>
</html>
